<% f.field_container :name do %>
  <%= f.label :name, t("name") %><br />
  <%= f.text_field :name %>
  <%= f.error_message_on :name %>
<% end %>

<% f.field_container :presentation do %>
  <%= f.label :presentation, t("presentation") %><br />
  <%= f.text_field :presentation %>
  <%= f.error_message_on :presentation %>
<% end %>


<h3><%= t("property_values") %></h3>
<table class="index">
  <thead>
    <tr>
      <th><%= t("name") %></th>
      <th><%= t("display") %></th>
      <th></th>
    </tr>
  </thead>
  <tbody id="property_values">
		<%= f.render_associated_form(@property.property_values) %>
		<tr id="none">
		  <td colspan="3"><%= @property.property_values.empty? ? t("none") : "" %></td>
		</tr>
	</tbody>
</table>

<p>
<%= f.add_associated_link( icon('add') + ' ' + t("add"), @property.property_values.build, 
                         {:onclick => "Element.hide('none');", :class => 'iconlink'}) %>
</p>
